# `HURDAT2` Data Munge

## Introduction

This notebook acquires, cleans up, and saves a copy of the United States National Oceanic and Atmospheric Administration's (NOAA) HURDAT2 dataset.

HURDAT2 is the NOAA's current data export of historical hurricane tracking data. It's split into two files, one for the Atlantic Ocean and one for the Pacific. These two files have different start dates (1851 and 1949 respectively).

## Original Text

From its [description](http://www.nhc.noaa.gov/data/#hurdat) on the NOAA's data web page:

---

<p class="hdr">Best Track Data (HURDAT2)

</p>
<p class="reg"><span style="font-weight:bold;">Atlantic hurricane database (HURDAT2) 1851-2015</span> (<a href="/data/hurdat/hurdat2-1851-2015-070616.txt">5.9MB download</a>)
<br>
This dataset was provided on 6 July 2016 to include the 1956 to 1960 revisions to the best tracks.
</p>
<p class="reg">
This dataset (<a href="/data/hurdat/hurdat2-format-atlantic.pdf">known as Atlantic HURDAT2</a>) has
a comma-delimited, text format with six-hourly information on the location,
maximum winds, central pressure, and (beginning in 2004) size of all known tropical cyclones and subtropical cyclones.
The original HURDAT database has been retired.</p>
<p class="reg">
Detailed information regarding the <a href="http://www.aoml.noaa.gov/hrd/data_sub/re_anal.html">
Atlantic Hurricane Database Re-analysis Project</a> is available from the
<a href="http://www.aoml.noaa.gov/hrd/">Hurricane Research Division</a>.
</p>
<p class="reg"><span style="font-weight:bold;">Northeast and North Central Pacific hurricane database (HURDAT2)
1949-2015</span> &nbsp; (<a href="/data/hurdat/hurdat2-nepac-1949-2015-050916.txt">3.2MB download</a>)
<br>
This dataset was provided on 9 May 2016 to include the remaining 2014 best tracks for Genevieve, Iselle, and Julio in the Central Pacific Hurricane Center (CPHC) area
of responsibility.  Note that the 2015 best tracks from CPHC are not yet available and are not currently included.  Once CPHC
completes their post-storm analyses, this dataset will be updated.
</p>
<p class="reg">
This dataset (<a href="/data/hurdat/hurdat2-format-nencpac.pdf">known as NE/NC Pacific HURDAT2</a>) 
has a comma-delimited, text format with six-hourly information on the 
location, maximum winds, central pressure, and (beginning in 2004)
size of all known tropical cyclones and subtropical cyclones. The
original HURDAT database has been retired.
</p>

---

## Data Dictionary

The dataset's [data dictionary](http://www.nhc.noaa.gov/data/hurdat/hurdat2-format-atlantic.pdf) shows that the files follow a modified CSV format, with individual hurricanes and storms getting their own subheadings:

In [1]:
from IPython.display import IFrame
IFrame("http://www.nhc.noaa.gov/data/hurdat/hurdat2-format-atlantic.pdf", width=900, height=600)

## Initial Read

Because of the non-standard format, a naive `pandas.read_csv` won't get useable data. It will be confused about the storm subheadings, for example, the first row in the following block:

```
EP202015,           PATRICIA,     19,
20151020, 0600,  , TD, 13.4N,  94.0W,  25, 1007,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
20151020, 1200,  , TD, 13.3N,  94.2W,  30, 1006,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
20151020, 1800,  , TD, 13.2N,  94.6W,  30, 1006,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
...
```

Curiously, the file doesn't seem to quite follow the format specified in the data dictionary, either, as it doesn't have any of the homogenized data lines mentioned in the data dictionary. So for instance, the following (used as an example in the data dictionary) never actually shows up:

```
AL092011, IRENE, 39,
1234567890123456789012345768901234567
```

It looks just like the example line above instead.

Since the start of each subheader line is `AL` or `EP` or something, whilst the start of a line of data is a date starting with the year (`2` or `1`), we can remove the subheadings by telling `pandas.read_csv` to ignore lines starting with the characters `A` or `E` (via `comment="E"`. But then we lose the position of those lines!

It's easiest to just build our own parser.

In [2]:
import requests
pacific_raw = requests.get("http://www.nhc.noaa.gov/data/hurdat/hurdat2-nepac-1949-2015-050916.txt")
pacific_raw.raise_for_status()  # check that we actually got something back

Double-checking the sentinels:

In [3]:
import io
from collections import Counter

c = Counter()
for line in io.StringIO(pacific_raw.text).readlines():
    c[line[:2]] += 1

In [4]:
c

Counter({'19': 18060, '20': 8077, 'CP': 67, 'EP': 983})

In [5]:
import io

pacific_storms_r = []
pacific_storm_r = {'header': None, 'data': []}

for i, line in enumerate(io.StringIO(pacific_raw.text).readlines()):
    if line[:2] == 'EP' or line[:2] == 'CP':
        pacific_storms_r.append(pacific_storm_r.copy())
        pacific_storm_r['header'] = line
        pacific_storm_r['data'] = []
    else:
        pacific_storm_r['data'].append(line)

pacific_storms_r = pacific_storms_r[1:]

In [6]:
len(pacific_storms_r)

1049

In [7]:
pacific_storms_r[0]

{'data': ['19490611, 0000,  , TS, 20.2N, 106.3W,  45, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
  '19490611, 0600,  , TS, 20.2N, 106.4W,  45, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
  '19490611, 1200,  , TS, 20.2N, 106.7W,  45, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
  '19490611, 1800,  , TS, 20.3N, 107.7W,  45, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
  '19490612, 0000,  , TS, 20.4N, 108.6W,  45, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
  '19490612, 0600,  , TS, 20.5N, 109.4W,  45, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
  '19490612, 1200,  , TS, 20.6N, 110.2W,  45, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n'],
 'header': 'EP011949,            UNNAMED,      7,\n'}

In [8]:
pacific_storms_r[0]['data']

['19490611, 0000,  , TS, 20.2N, 106.3W,  45, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
 '19490611, 0600,  , TS, 20.2N, 106.4W,  45, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
 '19490611, 1200,  , TS, 20.2N, 106.7W,  45, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
 '19490611, 1800,  , TS, 20.3N, 107.7W,  45, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
 '19490612, 0000,  , TS, 20.4N, 108.6W,  45, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
 '19490612, 0600,  , TS, 20.5N, 109.4W,  45, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
 '19490612, 1200,  , TS, 20.6N, 110.2W,  45, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n']

In [9]:
import pandas as pd

pacific_storm_dfs = []
for storm_dict in pacific_storms_r:
    storm_id, storm_name, storm_entries_n = storm_dict['header'].split(",")[:3]
    # remove hanging newline ('\n'), split fields
    data = [[entry.strip() for entry in datum[:-1].split(",")] for datum in storm_dict['data']]
    frame = pd.DataFrame(data)
    frame['id'] = storm_id
    frame['name'] = storm_name
    pacific_storm_dfs.append(frame)

In [10]:
len(pacific_storm_dfs)

1049

In [11]:
pacific_storm_dfs[0]

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,id,name
0,19490611,0000,,TS,20.2N,106.3W,45,-999,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,,EP011949,UNNAMED
1,19490611,0600,,TS,20.2N,106.4W,45,-999,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,,EP011949,UNNAMED
2,19490611,1200,,TS,20.2N,106.7W,45,-999,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,,EP011949,UNNAMED
3,19490611,1800,,TS,20.3N,107.7W,45,-999,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,,EP011949,UNNAMED
4,19490612,0000,,TS,20.4N,108.6W,45,-999,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,,EP011949,UNNAMED
5,19490612,0600,,TS,20.5N,109.4W,45,-999,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,,EP011949,UNNAMED
6,19490612,1200,,TS,20.6N,110.2W,45,-999,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,,EP011949,UNNAMED

In [12]:
pacific_storms = pd.concat(pacific_storm_dfs)

In [13]:
pacific_storms.head(10)

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,id,name
0,19490611,0000,,TS,20.2N,106.3W,45,-999,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,,EP011949,UNNAMED
1,19490611,0600,,TS,20.2N,106.4W,45,-999,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,,EP011949,UNNAMED
2,19490611,1200,,TS,20.2N,106.7W,45,-999,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,,EP011949,UNNAMED
3,19490611,1800,,TS,20.3N,107.7W,45,-999,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,,EP011949,UNNAMED
4,19490612,0000,,TS,20.4N,108.6W,45,-999,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,,EP011949,UNNAMED
5,19490612,0600,,TS,20.5N,109.4W,45,-999,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,,EP011949,UNNAMED
6,19490612,1200,,TS,20.6N,110.2W,45,-999,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,,EP011949,UNNAMED
0,19490617,1200,,TS,14.1N,107.0W,45,-999,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,,EP021949,UNNAMED
1,19490617,1800,,TS,14.6N,107.7W,45,-999,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,,EP021949,UNNAMED
2,19490618,0000,,TS,15.0N,108.4W,45,-999,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,,EP021949,UNNAMED

In [14]:
len(pacific_storms)

26112

## Setting columns

Now we read the column headers out of the data dictionary and assign them appropriate variable names.

In [15]:
pacific_storms = pacific_storms.reindex(columns=pacific_storms.columns[-2:] | pacific_storms.columns[:-2])

In [16]:
pacific_storms.head()

,id,name,0,1,2,3,4,5,6,7,...,11,12,13,14,15,16,17,18,19,20
0,EP011949,UNNAMED,19490611,0000,,TS,20.2N,106.3W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,
1,EP011949,UNNAMED,19490611,0600,,TS,20.2N,106.4W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,
2,EP011949,UNNAMED,19490611,1200,,TS,20.2N,106.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,
3,EP011949,UNNAMED,19490611,1800,,TS,20.3N,107.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,
4,EP011949,UNNAMED,19490612,0000,,TS,20.4N,108.6W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,

In [17]:
pacific_storms.iloc[0]

id                 EP011949
name                UNNAMED
0                  19490611
1                      0000
2
3                        TS
4                     20.2N
5                    106.3W
6                        45
7                      -999
8                      -999
9                      -999
10                     -999
11                     -999
12                     -999
13                     -999
14                     -999
15                     -999
16                     -999
17                     -999
18                     -999
19                     -999
20
Name: 0, dtype: object

In [18]:
pacific_storms.columns

Index([  'id', 'name',      0,      1,      2,      3,      4,      5,      6,
            7,      8,      9,     10,     11,     12,     13,     14,     15,
           16,     17,     18,     19,     20],
      dtype='object')

In [19]:
pacific_storms.columns = [
        "id",
        "name",
        "date",
        "hours_minutes",
        "record_identifier",
        "status_of_system",
        "latitude",
        "longitude",
        "maximum_sustained_wind_knots",
        "maximum_pressure",
        "34_kt_ne",
        "34_kt_se",
        "34_kt_sw",
        "34_kt_nw",
        "50_kt_ne",
        "50_kt_se",
        "50_kt_sw",
        "50_kt_nw",
        "64_kt_ne",
        "64_kt_se",
        "64_kt_sw",
        "64_kt_nw",
        "na"
]

In [20]:
del pacific_storms['na']

In [21]:
pd.set_option("max_columns", None)

In [22]:
pacific_storms.head()

,id,name,date,hours_minutes,record_identifier,status_of_system,latitude,longitude,maximum_sustained_wind_knots,maximum_pressure,34_kt_ne,34_kt_se,34_kt_sw,34_kt_nw,50_kt_ne,50_kt_se,50_kt_sw,50_kt_nw,64_kt_ne,64_kt_se,64_kt_sw,64_kt_nw
0,EP011949,UNNAMED,19490611,0000,,TS,20.2N,106.3W,45,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,EP011949,UNNAMED,19490611,0600,,TS,20.2N,106.4W,45,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,EP011949,UNNAMED,19490611,1200,,TS,20.2N,106.7W,45,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,EP011949,UNNAMED,19490611,1800,,TS,20.3N,107.7W,45,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,EP011949,UNNAMED,19490612,0000,,TS,20.4N,108.6W,45,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

## Inserting sentinels

-999 is used as a sentinel value for old data for which that data point is actually unknown. It'd be better to pass those as blank lines (e.g. `,,`) instead, so let's fill them in thusly.

In [23]:
pacific_storms.iloc[0]['34_kt_sw']

'-999'

In [24]:
import numpy as np
pacific_storms = pacific_storms.replace(to_replace='-999', value=np.nan)

The variables are all string types:

In [25]:
pacific_storms.dtypes

id                              object
name                            object
date                            object
hours_minutes                   object
record_identifier               object
status_of_system                object
latitude                        object
longitude                       object
maximum_sustained_wind_knots    object
maximum_pressure                object
34_kt_ne                        object
34_kt_se                        object
34_kt_sw                        object
34_kt_nw                        object
50_kt_ne                        object
50_kt_se                        object
50_kt_sw                        object
50_kt_nw                        object
64_kt_ne                        object
64_kt_se                        object
64_kt_sw                        object
64_kt_nw                        object
dtype: object

There are some empty strings present:

In [26]:
pacific_storms.iloc[0]['record_identifier']

''

In [27]:
pacific_storms['record_identifier'].value_counts()

     26010
L       90
I        6
S        3
T        3
Name: record_identifier, dtype: int64

Which we `nan`-ify:

In [28]:
pacific_storms = pacific_storms.replace(to_replace="", value=np.nan)

In [29]:
pacific_storms['record_identifier'].value_counts(dropna=False)

NaN    26010
L         90
I          6
S          3
T          3
Name: record_identifier, dtype: int64

In [30]:
pacific_storms.head()

,id,name,date,hours_minutes,record_identifier,status_of_system,latitude,longitude,maximum_sustained_wind_knots,maximum_pressure,34_kt_ne,34_kt_se,34_kt_sw,34_kt_nw,50_kt_ne,50_kt_se,50_kt_sw,50_kt_nw,64_kt_ne,64_kt_se,64_kt_sw,64_kt_nw
0,EP011949,UNNAMED,19490611,0000,NaN,TS,20.2N,106.3W,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,EP011949,UNNAMED,19490611,0600,NaN,TS,20.2N,106.4W,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,EP011949,UNNAMED,19490611,1200,NaN,TS,20.2N,106.7W,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,EP011949,UNNAMED,19490611,1800,NaN,TS,20.3N,107.7W,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,EP011949,UNNAMED,19490612,0000,NaN,TS,20.4N,108.6W,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Datafying columns

Some of the columns could be better formatted.

To start with, the latitude and longitude include `N` and `W` indicators, which we don't really want. We can just use negatives to indicate `S` and `W` (we'll upconvert dtype later).

In [31]:
pacific_storms['latitude'] = pacific_storms['latitude'].map(lambda lat: lat[:-1] if lat[-1] == "N" else -lat[:-1])
pacific_storms['longitude']= pacific_storms['longitude'].map(lambda long: long[:-1] if long[-1] == "E" else "-" + long[:-1])

In [32]:
pacific_storms.head()

,id,name,date,hours_minutes,record_identifier,status_of_system,latitude,longitude,maximum_sustained_wind_knots,maximum_pressure,34_kt_ne,34_kt_se,34_kt_sw,34_kt_nw,50_kt_ne,50_kt_se,50_kt_sw,50_kt_nw,64_kt_ne,64_kt_se,64_kt_sw,64_kt_nw
0,EP011949,UNNAMED,19490611,0000,NaN,TS,20.2,-106.3,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,EP011949,UNNAMED,19490611,0600,NaN,TS,20.2,-106.4,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,EP011949,UNNAMED,19490611,1200,NaN,TS,20.2,-106.7,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,EP011949,UNNAMED,19490611,1800,NaN,TS,20.3,-107.7,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,EP011949,UNNAMED,19490612,0000,NaN,TS,20.4,-108.6,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Next let's store the date in a more standard format. Output to ISO 8601 is automatically covered when we convert a column to `datetime` dtype.

In [38]:
pacific_storms['date'] = pd.to_datetime(pacific_storms['date'])

In [48]:
pacific_storms['date'] = pacific_storms\
    .apply(
        lambda srs: srs['date'].replace(hour=int(srs['hours_minutes'][:2]), minute=int(srs['hours_minutes'][2:])), 
        axis='columns'
    )

In [50]:
del pacific_storms['hours_minutes']

In [51]:
pacific_storms.head()

,id,name,date,record_identifier,status_of_system,latitude,longitude,maximum_sustained_wind_knots,maximum_pressure,34_kt_ne,34_kt_se,34_kt_sw,34_kt_nw,50_kt_ne,50_kt_se,50_kt_sw,50_kt_nw,64_kt_ne,64_kt_se,64_kt_sw,64_kt_nw
0,EP011949,UNNAMED,1949-06-11 00:00:00,NaN,TS,20.2,-106.3,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,EP011949,UNNAMED,1949-06-11 06:00:00,NaN,TS,20.2,-106.4,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,EP011949,UNNAMED,1949-06-11 12:00:00,NaN,TS,20.2,-106.7,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,EP011949,UNNAMED,1949-06-11 18:00:00,NaN,TS,20.3,-107.7,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,EP011949,UNNAMED,1949-06-12 00:00:00,NaN,TS,20.4,-108.6,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Final fixes

These were detecting by inspecting saves.

Fix an issue with character stripping in the names:

In [60]:
pacific_storms['name'].iloc[0]

'            UNNAMED'

In [61]:
pacific_storms['name'] = pacific_storms['name'].map(lambda n: n.strip())

In [62]:
pacific_storms['name'].iloc[0]

'UNNAMED'

Reindex, and attach a name to the index:

In [70]:
pacific_storms.index = range(len(pacific_storms.index))
pacific_storms.index.name = "index"

The data is printable as is.

In [71]:
pacific_storms.to_csv("../data/pacific_storms.csv", encoding='utf-8')